.git
.gitignore
.env
.env.*
*.log
*.sqlite
*.sqlite-journal
node_modules
vendor
storage/*.key
storage/debugbar
storage/logs/*.log
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
README.md
