/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/logs/*.log
/public/storage
/.phpunit.cache
.DS_Store
/.fleet
/.nova
/.zed
/public/build
/public/hot
/storage/pail
Thumbs.db
